/* This file is for your main application CSS */
@import "./pico.scss";
@import "./uplot.scss";
@import "./variables.scss";
@import "./leaflet.scss";
@import "./components.scss";
@import "./session.scss";
* {
  box-sizing: border-box;
}

// https://hexdocs.pm/phoenix_live_view/form-bindings.html#phx-feedback-for
.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.mono {
  font-family: monospace;
}


body {
  display: flex;
  flex-direction: column;

  header {
    border-bottom: 1px solid var(--muted-border-color);
    padding: 0px $base-padding;
  }
  main {
    padding: 0px;
    margin: 0px;
    // top: -1rem;
    position: relative;

    .flash {
      position: fixed;
      top: $base-padding * 4;
      z-index: 1;
    }
  }


}

ul {
  list-style-type: none;
  li {
    list-style-type: none;
  }
}

.button-group {
  display: flex;
  gap: $base-padding;
}





@include desktop {
  .only-mobile {
    display: none !important;
  }
}
@include mobile {
  .only-desktop {
    display: none !important;
  }
}


.account-container {
  text-align: center;
  form, .alert {
    text-align: left;
  }
}

$icon-size: 22px;
.icon {
  width: $icon-size;
  height: $icon-size;
}
.icon.error {
  fill: $color-red;
}

.text-muted {
  color: $gray-darker;
  margin: 0px;
}