@import "./variables.scss";

.date-range {
  display: flex;
  justify-content: space-between;
  align-items: unset;

  .date-picker, .slider {
    padding: $base-padding;
  }

  .slider {
    flex-grow: 2;
    input {
      width: 100%;
    }
  }
}

.column-selector {
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      padding: $base-padding/4;
    }
  }
}

.chart {
  width: 100%;
  min-height: 200px;
}

.map {
  width: 100%;
  height: 600px;
}

.lap-times {
  padding: $base-padding;
  border: 1px solid $border-color;
  margin: $base-padding 0px;
}

.fault {
  width: 100%;
  padding: $base-padding;
  margin: $base-padding 0px;
  cursor: pointer;
  border: 1px solid $gray;

  &.ok {
    border-color: $color-primary;
  }

  &.not-init {
    border-color: $color-orange;
  }
  &.error {
    font-weight: 900;
    color: white;
    border-color: red;
    background-color: $color-red;
  }
}

.track-addict {
  border: 1px solid $gray;
  padding: $base-padding;
  &.not-init {
    border-color: $color-orange;
  }
  &.ok {
    border-color: $color-primary;
  }
}

.widgets {
  display: flex;
  gap: $base-padding;
  align-items: baseline;
  div {
    width: 50%;
    height: 100%;
  }
}