@import "./variables.scss";

.date-range {
  display: flex;
  justify-content: space-between;
  align-items: unset;

  .date-picker, .slider {
    padding: $base-padding;
  }

  .slider {
    flex-grow: 2;
    input {
      width: 100%;
    }
  }
}
