.session {
  display: flex;

  .column-selector {
    max-width: 320px;
    border-right: 1px solid var(--muted-border-color);
    padding: $base-padding;
  }

  .lap-viewer {
    flex-grow: 1;
    .toolbar {
      border-bottom: 1px solid var(--muted-border-color);
    }
  }


  .widgets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .widget-wrap {
      padding: $base-padding * 0.5;
    }
  }
}

.laptimes-component {
  .fast-lap {
    td {
      font-weight: 900;
      color: purple;
    }
  }
}