.session {
  display: flex;

  .column-selector {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $base-padding;
    label {
      display: flex;
      justify-content: space-between;
      gap: $base-padding;
      align-items: end;
    }
  }

  .lap-viewer {
    flex-grow: 1;
    .toolbar {
      display: flex;
      gap: $base-padding;
      align-items: baseline;
      justify-content: space-between;
      padding: $base-padding;
      border-bottom: 1px solid var(--muted-border-color);
    }
  }


  .widgets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .widget-wrap {
      padding: $base-padding * 0.5;
    }
  }
}

.laptimes-component {
  .fast-lap {
    td {
      font-weight: 900;
      color: purple;
    }
  }
}