
<main>
  <% info = live_flash(@flash, :info) %>
  <% error = live_flash(@flash, :error) %>
  <%= if info do %>
    <p class="flash alert alert-info" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="info"><%= live_flash(@flash, :info) %></p>
  <% end %>
  <%= if error do %>
    <p class="flash alert alert-danger" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="error"><%= live_flash(@flash, :error) %></p>
  <% end %>
  <%= @inner_content %>
</main>
