<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Laphub", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
      <nav role="navigation">
        <div class="navigation-items">
          <div>
            <%= link "laps", to: "/", class: "only-desktop item" %>
            <a href="/" class="only-mobile mobile-home">
              <%= Icons.home() %>
            </a>
          </div>
          <div>
            <%= if is_logged_in?(@conn) do %>
              Hello <%= user_display(@conn) %>
            <% else %>
              <%= live_redirect "sign up", to: Routes.register_path(@conn, :register_form), class: "item" %>
              <%= live_redirect "log in", to: Routes.login_path(@conn, :login_form), class: "item" %>

            <% end %>
          </div>
        </div>

      </nav>
    </header>
    <%= @inner_content %>
  </body>
</html>
